{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Laurapp | User{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Laura{% endif %}!</h1>
    {% if known %}
    <p>Welcome back!</p>
    {% endif %}
</div>
<div class="page-content">
    <p>{{ wtf.quick_form(form) }}</p>
    <p>Browser: {{ user_agent }}</p>
    <p>Time: {{ moment(current_time).format('LLL') }}</p>
    <p>Last update: {{ moment(current_time).fromNow(refresh=True) }}
</div>
{% endblock %}
